@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700;900&display=swap');

:root{
    --outline: .1rem solid rgba(0,0,0,.1);
}

*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


html{
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border: .2rem solid black;
    color: black;
    border-radius: 0.5rem;
    cursor: pointer;
    background: none;
}

.btn:hover{
    background:yellow;
    color: #fff;
}
/* navbar css */
ul li{
    display: inline-block;
    margin: 0px 10px;
    font-size: 20px;
}














































/* Footer css starts here */

.footer{
    width: 100%;
    position:absolute;
    bottom: 0;
    background: #A7C7E7;
    color: black;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

/* .row{
    margin: auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
} */

.coloum{
    flex-basis: 25%;
    padding: 10px;
}

.footer .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 1.5rem;
}

.footer .row .column .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: black;
    margin-left: .2rem;
    background: #eee;
    text-align: center;

}

.footer .row .column .share a:hover{
    background: yellow;
    color: #fff;
}

